.scrollSpyWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;

  .active {
    a {
      color: #fff;
      font-size: 17px;
      font-weight: 700;
    }
  }

  > ul {
    display: flex;

    > li {
      list-style-type: none;
      padding: 0px 20px;
  
      > a {
        font-size: 16px;
        font-weight: 500;
        color: #bbb;
        text-decoration: none;
      }
    } 
  }
}